@import "tailwindcss";

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
    scrollbar-width: none;
}

.center-x-y {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.clock-font {
    font-family: 'DSEG7 Classic';
    font-weight: 900;
}